<link rel="stylesheet" href="/css/form.css">
<%-include('../includes/head.ejs')%>
<body>
<%-include('../includes/navgation.ejs')%>
<main class="container">
    <form class="form" method="post" action="/auth/signup">

        <div class="input-group">
            <input type="text" placeholder="이메일">
        </div>
        <div class="input-group">
            <input type="password" placeholder="패스워드">
        </div>

        <div class="input-group">
            <button type="submit">로그인</button>
        </div>

        <div class="social-login">
            <a href="/auth/kakao" >카카오톡으로 로그인하기</a>
        </div>
    </form>
</main>
<%-include('../includes/footer.ejs')%>