<link rel="stylesheet" href="/css/form.css">
<%-include('../includes/head.ejs')%>
<body>
<%-include('../includes/navgation.ejs')%>
<main class="container">
    <form class="form form-login" method="post" action="/auth/login">
        <div class="input-group">
            <input type="text" placeholder="이름">
        </div>
        <div class="input-group">
            <input type="text" placeholder="이메일">
        </div>
        <div class="input-group">
            <input type="password" placeholder="패스워드">
        </div>
        <div class="input-group">
            <input type="password" placeholder="패스워드 확인">
        </div>
        <div class="input-group">
            <button type="submit">회원가입</button>
        </div>
    </form>
</main>
<%-include('../includes/footer.ejs')%>