<div class="chat-container">
    <div class="chat-inner">
    <div id="chat-area">
        THIS IS CHATTING AREAD
    </div>
    <form id="chat-form">
        <div>
            <input type="text" id="chat-message" placeholder="메세지를 남겨주세요">
            <%# <button type="submit" name="action">send</button> %>
        </div>
    </form>
    </div>
</div>