<div class="left">
    <div class="<%=path=='/products/add' ? 'active':''%>">
        <a href="/products/add" >상품 등록</a>
    </div>
    <div class="<%=path=='/category/add' ? 'active':''%>">
        <a href="/category/add" >카테고리 등록</a>
    </div>
    <div>
        <a>계정 관리</a>
    </div>
</div>