<header>
<div class="container">
<nav class="main-nav">
    <span class="logo"><a href="/dashboard">MY LOGO</a></span>
    <ul>
        <%if(admin){%>
            <li class="profile-image"><%=admin.email%> 접송중...</li>
            <li>
                <form method="post" action="/admin/logout">
                    <button type="submit">로그아웃</button>
                </form>
            </li>
        <%}else{%>
            <li><a href="/auth/kakao" class="btn kakao">카카오톡으로 로그인</a></li>
        <%}%>
        <%# <li><a href="/auth/login">로그인</a></li> %>
        <%# <li ><a href="/auth/signup">회원가입</a></li> %>
    </ul>
</nav>
</div>
</header>